body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


.hero {
    background-color: rgb(77, 75, 245);
    height: 100vh;
    color: white;
    font-size: 40px;

}

  
  .hero-text h1 {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  .hero-text p1 {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .hero-text h1:hover {
    text-shadow: 0px 0px 10px #18191a;

  }

  .hero-text p1:hover {
    text-shadow: 0px 0px 10px #18191a;

  }
  
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}


li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

.footer-title {
    font-size: 30px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: white;
}

.subtext{
    font-size: 15px;
    font-weight: 300;
}

a:hover{
    color: gray;
}

@media only screen and (max-width:1000px) {
    

    .headshot {
        -webkit-transform:scale(0.6);
        transform:scale(0.6);
        border-radius: 150px;
        margin: 30px;
        box-shadow: 5px 5px 20px grey;
    }



    .infop{
        margin: 0;
        font-size: 20px;
        font-weight: 100;
    }

    .social-icons{
        height: 200;
        width: 200;
    }


    .headshot-container {
        display:none;
    
    }
    
    .headshot {
      display: none;
    }

    .overlay {
        
        display: none!important;
        width: 0px!important;
        height: 0px!important;
    }
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    padding-left: 5px;
    padding-right: 5px;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 25px;
    text-align: center;
    background-color: coral;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover{
    color: white;
    background-color: rgb(248, 160, 129);
}

.button:active{
    background-color: rgb(143, 130, 124);
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.social-icons{
    margin: 20px;
}

.logo {
    height:80px;
    margin: 30px;
}

.sub-section {
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.headshot-container {
    display:flex;
    align-items: center;
}


.headshot {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin: 30px;
    box-shadow: 5px 5px 20px grey;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;

}

.headshot:hover {
    transform: scale(1.1);
}

.headshot-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin: 30px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: visibility 0s, opacity 0.5s ease;
    opacity: 0;
  }
  
  .headshot-container:hover .headshot {
    transform: scale(1.1);
  }

  .headshot-container:hover .overlay {
    visibility: visible;
    opacity: 1;
    transform: scale(1.1);
    transition: visibility 0s, opacity 0.5s ease;
  }





.project-sub {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}




.project-link{
    text-decoration: none;
    color: coral;
}



hr {
    margin-left: 20px;
    margin-right: 20px;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

.icon:hover {
    fill:grey;
}

@media only screen and (max-width:1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 80px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        margin: 0px;
        background-color: rgb(101, 99, 240);
        width: auto;
        min-width: 20px;
        font-size: 40px;
    }

    ul.show{
        display: block;
    }


    nav {
        position: sticky;
        align-items: flex-start;
        flex-direction:  column-reverse;
        background-color:  rgb(101, 99, 240);
    }

    .logo{
        display: none;
    }
    
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .card {
    width: 350px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: scale-down;
  }
  
  .card-text {
    padding: 20px;
  }
  
  .popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup-text {
    padding-left: 20px;
    padding-right: 20px;
  }


/* media queries for responsive design */

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .card img {
    height: 150px;
  }
  
  .popup img {
    height: 300px;
  }

  .hero-text {
    zoom: 0.5;
    -moz-transform: scale(0.5);
    
  }

  .socials {
    zoom: 0.6;
    -moz-transform: scale(0.6);
  }
}

/* popup show and hide animation */


.popup img {
    object-fit: fill;
}

.popup {
    width: 80%;
    max-width: 800px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .card:hover  {
    transform: scale(1.1);
  }

.popup-container.show {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.5s forwards;
}

.popup-container.hide {
  animation: fade-out 0.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



